.sectitle {
  max-width: 17em;
  margin:0 auto 2em auto;
  text-align: center;
  text-transform: uppercase;
  span {
    font-weight: 500;
  }
}

.bullet {
  text-align: center;
  margin-bottom: 4rem;
}

.bullet__img {
  display: block;
  border-radius:50%;
  margin:0 auto 1.5rem;
  max-width: 12rem;
  @include breakpoint(medium) {
    max-width: 10rem;
  }
  @include breakpoint(large) {
    max-width: 12rem;
  }
}

.bullet__icon {
  position: relative;
  display: block;
  border-radius:50%;
  margin:0 auto 1.5rem;
  //max-width: 11rem;
  height: 0;
  padding-bottom: 33.333%;
  width: 33.333%;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  @include breakpoint(medium) {
    padding-bottom: 66.666%;
    width: 66.666%;
  }
  @include breakpoint(large) {
    padding-bottom: 0;
    width: 11rem;
    height: 11rem;
  }

  .icon {
    text-align: center;
    display: block;
    line-height: 1;
    color:$primary-color;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    font-size: 5rem;
    height:1em;
    width:1em;
    line-height: 1;
    @include breakpoint(medium) {
      font-size: 5rem;
    }
    @include breakpoint(large) {
      font-size: 7rem;
    }
  }
}

.bullet__title {
  //font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 .75em;
  text-transform:uppercase;
}

.bullet__title--name {
  text-transform: none;
  font-size:1.5rem;
  margin-bottom: .5em;
}


.bullet__text {
  max-width: 14rem;
  margin:0 auto;
}

.fact {
  text-align: center;
  margin-bottom: 2rem;

  h3 {
    margin-top: .333em;
    font-size: 2.25rem;
    line-height: 1;
    small {
      display: block;
      font-size: 1.25rem;
      line-height: 1;
      color:inherit;
    }
  }
}


.fact__ill {
  position: relative;

  max-width:9.5em;
  padding-bottom: 60%;
  margin:0 auto;
  color:$primary-color;


  > svg {
    position: absolute;
    height: 100%;
    display: block;
  }

  .icon {
    text-align: center;
    position: absolute;
    z-index: 1;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    display: block;

    font-size: 3rem;
    height:1em;
    width:1em;
    line-height: 1;
    @include breakpoint(medium) {
      font-size: 3.25rem;
    }
    @include breakpoint(large) {
      font-size: 5rem;
    }

  }
}



.trickylist {
  @include clearfix();
  font-family: $speci-font-family;
  font-weight: $global-weight-normal;
  list-style-type: none;
  margin: 4rem auto 4rem;
  max-width: 40em;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1;
  @include breakpoint(medium) {
    margin-top: 12rem;
  }

  li {

    //background-color: red;
    position: relative;
    display: block;
    width:50%;
    margin-bottom: 4rem;
    text-align: right;
    @include breakpoint(medium) {
      float:left;
      width:12.5%;
      margin-bottom: 0;
      transform:rotate(-90deg);
    }

    span {
      display: block;
      position: absolute;
      right: -3.875em;
      top:-.875em;
      width:2.75em;
      height: 2.75em;
      text-align: center;
      //font-size: 1.333rem;
      line-height: 2.75;
      background-color: $light-gray;
      border-radius: 50%;
      @include breakpoint(medium) {
        transform:rotate(90deg);
      }
    }
  }
}

.logoblock {
  text-align: center;
  .column {
    margin-bottom:1.5rem;
  }
  img {
    //max-width: 11rem;
    opacity: .5;
    transition: opacity .2s linear;
    &:hover {
      opacity: 1;
    }
  }
}



.companydetails {
  &.is_active {
    display: block;
  }
  h3 {
    //font-size: 1.75rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: $global-weight-bold;
    @include breakpoint(medium) {
      text-align: right;
      width:50%;
      float:left;
      clear:both;
      padding-right: $grid-column-gutter/2;
    }
  }
  p {
    margin-bottom: 2rem;
    @include breakpoint(medium) {
      width:50%;
      float:right;
      clear:right;
      padding-left: $grid-column-gutter/2;
    }

  }
}

.tothetop{
  display: block;
  text-align:center;
  font-size:3rem;
  margin:0 auto 2rem;
}
