@font-face {
  font-family: 'BryantLG';
  src: url('../fonts/BryantLG-MediumAlternate.eot');
  src: url('../fonts/BryantLG-MediumAlternate.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantLG-MediumAlternate.woff2') format('woff2'),
       url('../fonts/BryantLG-MediumAlternate.woff') format('woff'),
       url('../fonts/BryantLG-MediumAlternate.ttf') format('truetype'),
       url('../fonts/BryantLG-MediumAlternate.svg#BryantLG-MediumAlternate') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BryantLG';
  src: url('../fonts/BryantLG-RegularAlternate.eot');
  src: url('../fonts/BryantLG-RegularAlternate.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantLG-RegularAlternate.woff2') format('woff2'),
       url('../fonts/BryantLG-RegularAlternate.woff') format('woff'),
       url('../fonts/BryantLG-RegularAlternate.ttf') format('truetype'),
       url('../fonts/BryantLG-RegularAlternate.svg#BryantLG-RegularAlternate') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BryantLG';
  src: url('../fonts/BryantLG-LightAlternate.eot');
  src: url('../fonts/BryantLG-LightAlternate.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BryantLG-LightAlternate.woff2') format('woff2'),
       url('../fonts/BryantLG-LightAlternate.woff') format('woff'),
       url('../fonts/BryantLG-LightAlternate.ttf') format('truetype'),
       url('../fonts/BryantLG-LightAlternate.svg#BryantLG-LightAlternate') format('svg');
  font-weight: 300;
  font-style: normal;
}

