.sitefooter {
  background-color:$light-gray;
  font-family: 'Roboto', 'BryantLG', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  p {
    margin-bottom: 0;
  }
}