.hero {
  position: relative;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 27.5rem;
  max-height: 60em;
  overflow: hidden;
  @include breakpoint(medium) {
    height: 100vh;
  }
}


.hero--welove {
  background-size: auto 100%;
  background-position: 80% bottom;
  background-image: url(../images/welove.jpg);
  @include breakpoint(medium) {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}

.hero--pair {
  background-image: url(../images/pair_small.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: left center;
  height:7.5rem;
  max-height: 30em;
  @include breakpoint(medium) {
    background-image: url(../images/pair.jpg);
    height: 40vh;
  }
}
.hero--easy {
  background-image: url(../images/easy.jpg);
  background-size: auto 100%;
  background-position: left center;

  @include breakpoint(medium) {
    background-attachment: fixed;
    background-size: cover;
  }
}

.hero__image {
  max-width: none;
  width: 100%;
  display: none;
}

.hero__text {
  position: absolute;
  left:0;
  top:50%;
  width: 100%;
  margin:0;
  text-transform: uppercase;
  padding:0 1rem;
  color:#fff;
  //font-size: 2.5rem;
  line-height: 1;
  @include breakpoint(medium) {
    //font-size: 3rem;
  }
  span {
    font-weight: $global-weight-bold;
  }

  a {

    text-align: center;
    width:.666em;
    height:.666em;
    margin-top: .1766em;
    margin-left: 0.0533em;
    border-radius: 50%;
    //background-color: rgba(#fff,1);
    color:inherit;
    font-style: normal;
    position: absolute;
    display: inline-block;
    z-index: 3;
    overflow: hidden;
    &:hover, &:focus {
      //background-color: rgba(#fff,.5);
      color:rgba(#fff,.875);
    }

    .icon {
      display: block;
      font-size: .666em;
      line-height: 1;
      //text-shadow:0 0 1px $light-gray;
      // color:red;
      // background-color: green;
      //transform: translateY(0) !important;
    }

  }

  em {
    font-style: normal;
    display: inline-block;
    //opacity: .25;

  }
}

