.ps {
  padding-top:7rem;
  padding-bottom:7rem;
  overflow: hidden;
}

.row.container{
  @include breakpoint(medium) {
    padding-right: 7%;
    padding-left: 7%;
  }
}


.main {
  position: relative;
  z-index: 2;
}
.greatbg {
  text-align: center;
}
.numbers {
  background-color:$light-gray;
}

.solution {
 background-color:$light-gray;
}

.contact {
  background-color:$light-gray;
  padding-bottom: 1rem;
}