.graflogo {
  position: absolute;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  display: block;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left top;
  height:4rem;
  width:4rem;
  @include breakpoint(medium) {
    width:13.5rem;
    background-image: url('../images/logo_full.png');
  }
}
.navsec {
  position: fixed;
  z-index: 9;
  left:0;
  top:1rem;
  width:100%;
}

.menuwrap {
  @include clearfix();
  width: calc(100% - 4rem);
  background-color: #fff;
  float:right;
  box-shadow: 2px 2px 2px 0 rgba($dark-gray,.125);
  height:2.9333rem;
}
.graflogo {
  float:left;
}
.menu--main {
  float:right;
}

.menu {
  @include breakpoint(large) {
      padding:0 1rem;
  }
  > li:not(.menu-text) {
    > a {
      font-weight: $global-weight-bold;
      font-size: 1rem;
      line-height: 3.125;
      padding:0  1rem;
      color: $primary-color;
      &.active, &:hover {
       color: scale-color($primary-color, $lightness: -14%);
      }
    }
  }
}